div(id="wrapper")
    div(id="header")
        div(class="page clearfix")
            a(class="logo" href="index.html") 
                img(src="/images/logo.png" alt="logo" title="#")
            span(class="casual-date") casual dating
            form(class="login-form")
                ul
                    li
                        input(type="text", placeholder="Jouw e-mailadres")
                    li
                        input(type="password", placeholder="Wachtwoord")
                        span(class="forgot-password")
                            a(href="#") Wachtwoord vergeten?
                    li
                        input(type="submit", class="btn", value="Log in")
    div(id="content")
        section(class="banner")
            ul						
                li
                    img(src="/images/banner.jpg" alt="banner" title="" class="desktop-banner")
                    img(src="/images/tablet-banner.jpg" alt="banner" title="" class="tablet-banner")
                    img(src="/images/mobile-banner.jpg" alt="banner" title="" class="mobile-banner")
                    div(class="caption")
                        div(class="page")
                            h1 Het grootste en meest efficiente adult
                            br
                            strong Social Network </strong> platform van de Benelux
            div(class="sign-up")
                div(class="page clearfix")
                    form
                        div(class="links signup-heading")
                            span 
                                strong Nieuw bij Sexydate?
                                | Meld je aan
                            h2
                                Deelname is Gratis
                        div(class="links fb-login")
                            a(href="#" class="icon-fb")&nbsp;
                            span Wij plaatsen niets op uw facebook pagina
                        div(class="links registration")
                            div(class="shape")
                                span(class="icon-half-circle")
                                    | of
                            strong Registeren met uw e-mailadres
                            ul
                                li
                                    input(type="text", placeholder="Kies een gebruikersnaam")
                                li
                                    input(type="text", placeholder="Jouw e-mailadres")
                                li
                                    input(type="submit", class="btn", value="Gratis aanmelden")
        section(class="gallary")
            ul
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                li
                    img(src="/images/gallary-img.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
                li
                    img(src="/images/gallary-img2.jpg", alt="")
            div(class="sexy-dates")
                span(class="join-date">Meld je aan bij Sexydate en vind vanavond nog een)
                h3 Spannend Afspraakje
                span(class="member") 346.435 leden waarvan 4684 nu online
                p
                    a(href="#") Registreer
                    | of 
                    a(href="#") log  
                    | in by Sexydate en leg direct contact met andere
                    | vrouwen, mannen en koppels welke net als jij op zoek zijn naar seks
                    | en erotiek. Maak gebruik van de vele unieke features zoals de live chat
                    | applicatie of bekijk en keur potentiele matches bij jou in de buurt.
                a(href="#", class="btn btn-default") Maak een gratis account
        div(class="dating-system")
            span(class="primary-section")&nbsp;
            div(class="page")
                ul
                    li
                        span(class="circle-art tested")
                            img(src="/images/shape1.png", alt="")
                        h4 Getest en bewezen dating systeem
                        p
                            | Lorem ipsum dolor sit amet,
                            | adipiscing elit. Aenean
                            | commodo ligula dolor. Cum
                            | sociis natoque penati magnis
                            | dis parturient montes.
                    li
                        span(class="circle-art photo")
                            img(src="/images/shape2.png", alt="")
                        h4 Getest en bewezen dating systeem
                        p
                            | Lorem ipsum dolor sit amet,
                            | adipiscing elit. Aenean
                            | commodo ligula dolor. Cum
                            | sociis natoque penati magnis
                            | dis parturient montes.
                    li
                        span(class="circle-art friendly")
                            img(src="/images/shape3.png", alt="")
                        h4 Getest en bewezen dating systeem
                        p
                            | Lorem ipsum dolor sit amet,
                            | adipiscing elit. Aenean
                            | commodo ligula dolor. Cum
                            | sociis natoque penati magnis
                            | dis parturient montes.
    div(id="footer")
        div(class="page clearfix")
            span(class="copy-right") Copyright &copy; 2014 
                strong Sexydate
                | onderdeel van eSolutions BV
            nav(class="footer-nav")
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Bedrijfsgegevens
                    li
                        a(href="#") Algemene voorwaarden
                    li
                        a(href="#") Privacy beleid 
                    li
                        a(href="#") Contact
