doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title Het grootste en meest efficiente adult Social Network platform van de Benelux
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(rel="stylesheet", type="text/css", href="stylesheets/global.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/tablet.css", media="screen and (min-width:768px) and (max-width:1024px)")
    link(rel="stylesheet", type="text/css", href="stylesheets/mobile.css", media="screen and (max-width: 767px)")
    script(src="javascripts/html5shiv.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
