div(id="wrapper")
    div(id="header")
        div(class="page clearfix")
            a(class="logo" href="#") 
                img(src="/images/logo.png", alt="logo" title="#")
            span(class="casual-date") casual dating
            form(class="login-form")
                ul
                    li
                        input(type="text", placeholder="Jouw e-mailadres")
                    li
                        input(type="password", placeholder="Wachtwoord")
                        span(class="forgot-password")
                            a(href="#") Wachtwoord vergeten?
                    li
                        input(type="submit", class="btn" value="Log in")
    div(id="content", class="sub-page")
        div(class="page clearfix")
            div(class="main-content")
                form(class="contact-form login")
                    h1 Inloggen
                    span(class="error-msg") De log-in gegevens zijn incorrect. Probeer opnieuw.

                    ul
                        li
                            input(type="text", placeholder="Kies een gebruikersnaam")
                        li
                            input(type="text", placeholder="Jouw e-mailadres")
                        li(class="clearfix")
                            input(type="submit", value="Inloggen" class="btn")
                            span(class="open-account") Nog geen account? 
                                a(href="#") Klik hier
            div(class="main-content")
                form(class="contact-form login")
                    h2 Wachtoord vergeten?
                    p Heb je wel een account maar ben je je wachtwoord vergeten? Vul jouw e-mailadres in.
                    ul
                        li
                            input(type="text" placeholder="Jouw e-mailadres")
                        li
                            input(type="submit", value="Verzenden" class="btn")
            aside(class="side-bar login-page-sidebar")
                div(class="aside-block")
                    h2 Hulp nodig?
                    p
                        | Lorem ipsum dolor sit amet, consectetuer
                        | adipiscing elit. Aenean commodo ligula eget
                        | dolor. Aenean massa. Cum sociis natoque
                        | penatibus et magnis.
                    a(class="btn" href="#") Contact
                div(class="aside-block queries")
                    h2 Meest gestelde vragen
                    ul
                        li
                            a(href="#") Lorem ipsum dolor sit amet consect?
                        li
                            a(href="#") Lorem ipsum dolor sit amet consect?
                        li
                            a(href="#") Lorem ipsum dolor sit amet consect?
                        li
                            a(href="#") Lorem ipsum dolor sit amet consect?
                        li
                            a(href="#") Lorem ipsum dolor sit amet consect?
                    span(class="question") Staat je vraag er niet bij?
                    p Bekijk dan de 
                        a(href="#") helppagina's
                        | of neem contact op met onze 
                        a(href="#") support afdeling.
                div(class="aside-block company")
                    h2 Bedrijfsgegevens
                    address
                        span D 4 M Entertainment BV.
                            br
                            | Postbus 1078
                            br
                            | 4801 BB Amsterdam 
                    span
                        a(href="mailto:klantenservice@sexydate.nl") klantenservice@sexydate.nl
                    span Kamer van koophandel
                        a(href="tel:54231140") 54231140
                div(class="aside-block queries pagina")
                    h2 Pagina’s
                    ul
                        li
                            a(href="#") Inloggen
                        li
                            a(href="#") Algemene voorwaarden
                        li
                            a(href="#") Privacy beleid
                        li
                            a(href="#") Contact

    div(id="footer")
        div(class="page clearfix")
            span(class="copy-right") Copyright &copy; 2014
                strong Sexydate 
                | onderdeel van eSolutions BV
            nav(class="footer-nav")
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Bedrijfsgegevens
                    li
                        a(href="#") Algemene voorwaarden
                    li
                        a(href="#") Privacy beleid
                    li
                        a(href="#") Contact
